# Leshan config files #
leshan-lwm2m-core/ddffiles
**/Californium.properties
**/Californium3.properties
**/Californium3.bsserver.properties
**/Californium3.server.properties
**/Californium3.client.properties
**/data/*.data
**/data/*.json

# Binary files #
*.class

# Maven build files #
target

# Eclipse files #
bin/
.classpath
.project
.settings

# IntelliJ Config Files #
.idea/
*.iml

# Visual Studio Code files #
.vscode/

# Package Files #
*.jar
*.war
*.ear

# log Files #
**/src/main/**/logback*.xml
**/src/test/**/logback*.xml

# Credentials files #
**/*.der
**/*.pem
**/*.srl
!**/src/**/*.der
!**/certificates/*.pem

# for macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
